{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"insertPragma": false,
	"printWidth": 120,
	"proseWrap": "always",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"importOrder": ["^[a-z]", "^@", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
